body {

    font-family: 'Montserrat', sans-serif;
    font-style: italic;

}


.titulo {
  padding: 15px;
  width: 30vw;
  margin: auto;

}

.btn {
  border: 0;
  color: white;
  font-weight: bold;
  background-color: blue;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 0.5em;
}

.text-input {
  border-radius: 0.5em;
  border: 1px solid rgba(0, 0, 0, 0.2);
  display: block;
  padding: 0.5em;
  width: 30%;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
}

.tracejado {
  width: 65px;
  height: 45px;
  border-bottom-style: solid;
  text-align: center;
  font-size: 30px;
  margin: 2px;
  left: 70%;
  top: 50%;
}

.letras {
  position: absolute;
  display: flex;
  justify-content: space-between;
  left: 50%;
  top: 79%;
  width: 429px;
}

.tentativas {

  position: absolute;
  font-size: 28px;
  left: 39%;
  top: 55%;

}

.letras-incorretas {
  position: absolute;
  width: 50%;
  height: 100px;
  left: -5%;
  top: 65%;
  text-align: center;
  font-size: 32px;
  color: brown;
}

.letras-corretas{
  position: absolute;
  width: 50%;
  height: 100px;
  left: 45%;
  top: 65%;
  text-align: center;
  font-size: 32px;
  color: blue;
  transition: 2s;
}